.vscode/
.antlr/

#antlr generateed files
Graphql*.java
#no classes
*.class
#no tokens
*.tokens
#no interpreters
*.interp

#Latex aux files
*.aux
*.fls
*.log
*.synctex
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
#generated tex pdf
articulo.pdf